<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">UNIMATRIX 94866.2</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Notes Dashboard</a></li>
            <li><a href="/stories">Public Notes</a></li>
            {{!-- <li><a href="/zombiehang">Zombie Hang</a></li>
            <li><a href="/to-do">To-Do List</a></li> --}}
            <br>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>