<h3>UNIMATRIX 94866.2</h3>
<div class="section">
    <p class="lead">a personal hub of notes, lists, and games</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>